# Author © : Akshay | 202051018

Data Analytics & Visualisation | Assignment 6

In [69]:
import pandas as pd
import seaborn as sns
import math

Loading Dataset

In [70]:
data1 = pd.read_csv("primary_completion_rate_female.csv", skiprows=4)
df1 = data1.copy()
print(df1)

                    Country Name Country Code  \
0                          Aruba          ABW
1    Africa Eastern and Southern          AFE
2                    Afghanistan          AFG
3     Africa Western and Central          AFW
4                         Angola          AGO
..                           ...          ...
261                       Kosovo          XKX
262                  Yemen, Rep.          YEM
263                 South Africa          ZAF
264                       Zambia          ZMB
265                     Zimbabwe          ZWE

                                        Indicator Name     Indicator Code  \
0    Primary completion rate, female (% of relevant...  SE.PRM.CMPT.FE.ZS
1    Primary completion rate, female (% of relevant...  SE.PRM.CMPT.FE.ZS
2    Primary completion rate, female (% of relevant...  SE.PRM.CMPT.FE.ZS
3    Primary completion rate, female (% of relevant...  SE.PRM.CMPT.FE.ZS
4    Primary completion rate, female (% of relevant...  SE.PRM.CMPT.FE.ZS
..                                                 ...                ...
261  Primary completion rate, female (% of relevant...  SE.PRM.CMPT.FE.ZS
262  Primary completion rate, female (% of relevant...  SE.PRM.CMPT.FE.ZS
263  Primary completion rate, female (% of relevant...  SE.PRM.CMPT.FE.ZS
264  Primary completion rate, female (% of relevant...  SE.PRM.CMPT.FE.ZS
265  Primary completion rate, female (% of relevant...  SE.PRM.CMPT.FE.ZS

     1960  1961  1962  1963  1964  1965  ...        2013        2014  \
0     NaN   NaN   NaN   NaN   NaN   NaN  ...  101.255234  101.555870
1     NaN   NaN   NaN   NaN   NaN   NaN  ...   66.028069   66.263290
2     NaN   NaN   NaN   NaN   NaN   NaN  ...         NaN         NaN
3     NaN   NaN   NaN   NaN   NaN   NaN  ...   64.063690   64.651100
4     NaN   NaN   NaN   NaN   NaN   NaN  ...         NaN         NaN
..    ...   ...   ...   ...   ...   ...  ...         ...         ...
261   NaN   NaN   NaN   NaN   NaN   NaN  ...         NaN         NaN
262   NaN   NaN   NaN   NaN   NaN   NaN  ...   61.386909         NaN
263   NaN   NaN   NaN   NaN   NaN   NaN  ...         NaN         NaN
264   NaN   NaN   NaN   NaN   NaN   NaN  ...   78.582474         NaN
265   NaN   NaN   NaN   NaN   NaN   NaN  ...   98.854950   97.411469

           2015       2016       2017       2018       2019       2020  \
0           NaN        NaN        NaN        NaN        NaN        NaN
1     66.115013  66.932449  68.167793  69.499100  69.990547  70.825378
2           NaN  63.604069  66.688881  67.129303  65.761513        NaN
3     65.822060  66.608093  66.362289  66.722878  66.927361  67.231689
4           NaN        NaN        NaN        NaN        NaN        NaN
..          ...        ...        ...        ...        ...        ...
261         NaN        NaN        NaN        NaN        NaN        NaN
262         NaN  64.500092        NaN        NaN        NaN        NaN
263   89.105278  88.068489        NaN  92.124298  93.236481        NaN
264         NaN        NaN        NaN        NaN        NaN        NaN
265  100.912598  99.207138  96.014954  93.238541  89.320374  90.902550

          2021  Unnamed: 66
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
..         ...          ...
261        NaN          NaN
262        NaN          NaN
263        NaN          NaN
264        NaN          NaN
265  86.107933          NaN

[266 rows x 67 columns]

In [71]:
data2 = pd.read_csv("population_of_female.csv", skiprows=4)
df2 = data2.copy()
print(df2)

                    Country Name Country Code      Indicator Name  \
0                          Aruba          ABW  Population, female
1    Africa Eastern and Southern          AFE  Population, female
2                    Afghanistan          AFG  Population, female
3     Africa Western and Central          AFW  Population, female
4                         Angola          AGO  Population, female
..                           ...          ...                 ...
261                       Kosovo          XKX  Population, female
262                  Yemen, Rep.          YEM  Population, female
263                 South Africa          ZAF  Population, female
264                       Zambia          ZMB  Population, female
265                     Zimbabwe          ZWE  Population, female

        Indicator Code        1960        1961        1962        1963  \
0    SP.POP.TOTL.FE.IN     27773.0     28380.0     28820.0     29218.0
1    SP.POP.TOTL.FE.IN  65853220.0  67606287.0  69457112.0  71375643.0
2    SP.POP.TOTL.FE.IN   4145945.0   4233771.0   4326881.0   4424511.0
3    SP.POP.TOTL.FE.IN  48802898.0  49850088.0  50928609.0  52044907.0
4    SP.POP.TOTL.FE.IN   2670229.0   2704394.0   2742689.0   2779473.0
..                 ...         ...         ...         ...         ...
261  SP.POP.TOTL.FE.IN    466471.0    475714.0    489406.0    503107.0
262  SP.POP.TOTL.FE.IN   2776227.0   2830873.0   2887401.0   2944847.0
263  SP.POP.TOTL.FE.IN   8017980.0   8263745.0   8532023.0   8813888.0
264  SP.POP.TOTL.FE.IN   1574966.0   1626102.0   1679256.0   1734441.0
265  SP.POP.TOTL.FE.IN   1922334.0   1983717.0   2047197.0   2112858.0

           1964        1965  ...         2013         2014         2015  \
0       29570.0     29875.0  ...      53953.0      54403.0      54828.0
1    73386167.0  75478396.0  ...  287224786.0  295088995.0  303195759.0
2     4526691.0   4634341.0  ...   15594637.0   16172321.0   16682054.0
3    53196730.0  54389295.0  ...  192900081.0  198163527.0  203513873.0
4     2812590.0   2838939.0  ...   13252938.0   13746371.0   14248799.0
..          ...         ...  ...          ...          ...          ...
261    516803.0    530503.0  ...     910703.0     908173.0     896017.0
262   3005276.0   3069773.0  ...   13323201.0   13700388.0   14077389.0
263   9107018.0   9412255.0  ...   27837495.0   28228865.0   28721087.0
264   1791447.0   1850435.0  ...    7743342.0    7993413.0    8247891.0
265   2180688.0   2250818.0  ...    7192279.0    7347527.0    7502101.0

            2016         2017         2018         2019         2020  \
0        55224.0      55591.0      55935.0      56254.0      56373.0
1    311387262.0  319637226.0  328158974.0  336930831.0  345889729.0
2     17115346.0   17614722.0   18136922.0   18679089.0   19279930.0
3    208980433.0  214578994.0  220253839.0  226004857.0  231877590.0
4     14764575.0   15293335.0   15828040.0   16370553.0   16910989.0
..           ...          ...          ...          ...          ...
261     890797.0     897635.0     900766.0     896722.0     897541.0
262   14453847.0   14831892.0   15211556.0   15593113.0   15963067.0
263   29004108.0   29175940.0   29517286.0   29879107.0   30221143.0
264    8507289.0    8772120.0    9041177.0    9314079.0    9589102.0
265    7656047.0    7810471.0    7966181.0    8122618.0    8284447.0

            2021  Unnamed: 66
0        56330.0          NaN
1    354855082.0          NaN
2     19844584.0          NaN
3    237813580.0          NaN
4     17452283.0          NaN
..           ...          ...
261     895801.0          NaN
262   16313210.0          NaN
263   30497646.0          NaN
264    9864121.0          NaN
265    8449834.0          NaN

[266 rows x 67 columns]

Q1. Create a column named “average_rate” in “primary_completion_rate_female.csv” that
contains the average (over time) completion rate.

In [72]:
df1['average_rate'] = df1.mean(axis=1,numeric_only=True)

In [73]:
print(df1.head())

                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                                      Indicator Name     Indicator Code  1960  \
0  Primary completion rate, female (% of relevant...  SE.PRM.CMPT.FE.ZS   NaN
1  Primary completion rate, female (% of relevant...  SE.PRM.CMPT.FE.ZS   NaN
2  Primary completion rate, female (% of relevant...  SE.PRM.CMPT.FE.ZS   NaN
3  Primary completion rate, female (% of relevant...  SE.PRM.CMPT.FE.ZS   NaN
4  Primary completion rate, female (% of relevant...  SE.PRM.CMPT.FE.ZS   NaN

   1961  1962  1963  1964  1965  ...       2014       2015       2016  \
0   NaN   NaN   NaN   NaN   NaN  ...  101.55587        NaN        NaN
1   NaN   NaN   NaN   NaN   NaN  ...   66.26329  66.115013  66.932449
2   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN  63.604069
3   NaN   NaN   NaN   NaN   NaN  ...   64.65110  65.822060  66.608093
4   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN        NaN

        2017       2018       2019       2020  2021  Unnamed: 66  average_rate
0        NaN        NaN        NaN        NaN   NaN          NaN     96.203056
1  68.167793  69.499100  69.990547  70.825378   NaN          NaN     52.899081
2  66.688881  67.129303  65.761513        NaN   NaN          NaN     28.085734
3  66.362289  66.722878  66.927361  67.231689   NaN          NaN     54.108691
4        NaN        NaN        NaN        NaN   NaN          NaN     34.111267

[5 rows x 68 columns]

In [74]:
print(df1['average_rate'])

0      96.203056
1      52.899081
2      28.085734
3      54.108691
4      34.111267
         ...
261          NaN
262    48.823942
263    88.622194
264    67.949980
265    91.649270
Name: average_rate, Length: 266, dtype: float64

Q2. Create a column named “Latest Population” in “population_of_female.csv” that contains the
latest population of females in the country.

In [75]:
df2["Latest Population"] = df2['2021']

In [76]:
print(df2.head())

                  Country Name Country Code      Indicator Name  \
0                        Aruba          ABW  Population, female
1  Africa Eastern and Southern          AFE  Population, female
2                  Afghanistan          AFG  Population, female
3   Africa Western and Central          AFW  Population, female
4                       Angola          AGO  Population, female

      Indicator Code        1960        1961        1962        1963  \
0  SP.POP.TOTL.FE.IN     27773.0     28380.0     28820.0     29218.0
1  SP.POP.TOTL.FE.IN  65853220.0  67606287.0  69457112.0  71375643.0
2  SP.POP.TOTL.FE.IN   4145945.0   4233771.0   4326881.0   4424511.0
3  SP.POP.TOTL.FE.IN  48802898.0  49850088.0  50928609.0  52044907.0
4  SP.POP.TOTL.FE.IN   2670229.0   2704394.0   2742689.0   2779473.0

         1964        1965  ...         2014         2015         2016  \
0     29570.0     29875.0  ...      54403.0      54828.0      55224.0
1  73386167.0  75478396.0  ...  295088995.0  303195759.0  311387262.0
2   4526691.0   4634341.0  ...   16172321.0   16682054.0   17115346.0
3  53196730.0  54389295.0  ...  198163527.0  203513873.0  208980433.0
4   2812590.0   2838939.0  ...   13746371.0   14248799.0   14764575.0

          2017         2018         2019         2020         2021  \
0      55591.0      55935.0      56254.0      56373.0      56330.0
1  319637226.0  328158974.0  336930831.0  345889729.0  354855082.0
2   17614722.0   18136922.0   18679089.0   19279930.0   19844584.0
3  214578994.0  220253839.0  226004857.0  231877590.0  237813580.0
4   15293335.0   15828040.0   16370553.0   16910989.0   17452283.0

   Unnamed: 66  Latest Population
0          NaN            56330.0
1          NaN        354855082.0
2          NaN         19844584.0
3          NaN        237813580.0
4          NaN         17452283.0

[5 rows x 68 columns]

In [77]:
print(df2['Latest Population'])

0          56330.0
1      354855082.0
2       19844584.0
3      237813580.0
4       17452283.0
          ...
261       895801.0
262     16313210.0
263     30497646.0
264      9864121.0
265      8449834.0
Name: Latest Population, Length: 266, dtype: float64

Q3. What is the weighted average of primary rates of different countries? The weight should be the
Latest population of females in the country.

In [78]:
#  Weighted mean
tmp1=(df1["average_rate"]*df2["Latest Population"])
#print(tmp1)
tmp2=tmp1/df2["Latest Population"].sum()
weighted_mean=tmp2.sum()
print("weighted mean: ", weighted_mean)

weighted mean:  77.01066757323034

Q4. What is the Median of average primary completion rate?

In [79]:
print("average primary completion rate: ", df1['average_rate'].median())

average primary completion rate:  90.96608239251218

Q5. What is the InterQuartile Range of average primary completion rate?

In [80]:
IQR=df1["average_rate"].quantile(0.75)-df1["average_rate"].quantile(0.25)
print("IQR of average primary completion rate: ", IQR)

IQR of average primary completion rate:  29.470233932195967

Q6. What is the Variance of average primary completion rate?

In [81]:
print("Variance of average primary completion rate: ", df1['average_rate'].var())

Variance of average primary completion rate:  512.9310266943032